.container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.d-flex {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

div[name="divValue"] {
    min-width: 200px;
    border-style: solid;
}

div[name="divType"] {
    min-width: 100px;
    border-style: solid;
}

div[name="divResult"] {
    min-width: 300px;
    border-style: solid;
}