<div class="container">
  <div class="d-flex bd-highlight">

    <div class="p-2 bd-highlight" name="divValue">
      <input type="number"
        [(ngModel)]="caculator.value" name="value" 
        (ngModelChange)="calculate();" 
        required>
    </div>

    <div class="p-2 flex-grow-1 bd-highlight" name="divType">
      <select 
        [(ngModel)]="caculator.type" name="type" 
        (ngModelChange)="calculate()" 
        required>
        <option *ngFor="let type of types" 
          [value]="type">{{type}}</option>
      </select>
    </div>

    <div class="p-2 bd-highlight" name="divResult">
      {{ caculator.result }}
    </div>

  </div>
</div>