/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {

  body {
    overflow-x: scroll;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
  }
  
}

@media (min-width: 600px) {

  body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
  }
  
}